html,
body {
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

main {
    height: 100vh;
    width: 100vw;
}

header {
    max-width: 1440px !important;
}

.container {
    max-width: 1440px;
}

.toast {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin-inline: auto;
    width: fit-content;
}
